div{
	box-sizing: border-box;
	border: 1px solid #000000;
	width: 100px;
	height: 100px;
    margin: 1%;
	padding: 3%;
	display: inline-block;
	transition: 2s ease;
}

div:focus{
	background-color: #ffffff ;
}

div:hover{
	width: 200px;
	background-color: #800040;

}